
  .appointmentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f4f4f4; /* Light background color */
    
    padding-top: 20px;
  }
  
  .appointmentform {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
  }
  
  .formGroup input,
  .formGroup select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;

  }
  
  .submitBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .submitBtn:hover {
    background-color: #0056b3;
  }

  .confirmationMessage {
    font-size: 20px; /* Adjust the font size as needed */
    color: black;    /* Set the text color to black */
    margin-top: 20px; /* Add some space above the message */
    text-align: center; /* Center the message */
  }
  
  